.pages {
    margin: 10px 0;
}

.page  {
    background: yellowgreen;
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
}

.currentPage {
    border: 2px solid darkslategrey;
    font-weight: 700;
    background: lightseagreen;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
}