.nav{
  grid-area: n;
  background: turquoise;
  padding: 20px;
}
.item{
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}

.item a{
  color: white;
  text-decoration: none;
}

.item a:active{
  color: grey;
}
.item a.activeLink{
  color: goldenrod;
}